.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;

  .spinner {
    width: 40px;
    height: 40px;
    border: 3px solid #f3f6fb;
    border-top-color: #6559ff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  p {
    margin-top: 1rem;
    color: #293745;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
